.main {
    width: 100%;
}

.container {
    width: 80%;
    margin: 2rem auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(209, 217, 224);
    border-radius: 0.3rem;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 1rem;
    background-color: rgb(246, 248, 250);
}

.leftDiv, .rightDiv {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.icon {
    display: flex;
    align-items: center;
}